.buttonCell {
	width: 450px;
}
.backGround {
	background-color: #000000e1; 
	width: 100%;
	height: 100%;
}
.welcomeMessage {
    font-size: 70px; 
	padding-left: 40px;
	font-weight: lighter;
}
.Title {
    font-weight: bold; 
}
.profileImageContainer {
    width: 200px;
    height: 200px;
    position: relative;
    border: #9f0000 1px;
    border-radius: 5px;
}

.centeredSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videoLine {
    display: flex;
    justify-content: center; /* Center the videos in the line */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-bottom: 20px; /* Space between each line of videos */
}

.videoContainer {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Space between each video */
    margin-bottom: 10px; /* Space below each video */
}

.ranking {
    font-size: 100px; /* Adjust the font size for the ranking number */
    font-weight: bold;
    margin-right: 10px; /* Space between the number and the image */
}
