.buttonCell {
	width: 450px;
}
.backGround {
	background-color: #000000e1; 
	width: 100%;
	height: 200%;
}
.welcomeMessage {
    font-size: 70px; 
	padding-left: 40px;
	font-weight: lighter;
}
.Title {
    font-weight: bold;
}
.titleText {
    margin-top: 100px;
}
.profileImageContainer {
    width: 200px;
    height: 400px;
    position: relative;
    border: #9f0000 1px;
    border-radius: 5px;
}

.centeredSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videoLine {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.videoContainer {
    display: flex;
    align-items: center;
    margin-right: 10px; 
    margin-bottom: 10px;
}

.ranking {
    font-size: 100px;
    font-weight: bold;
    margin-right: 10px; 
}
